{{#each this}}
<li>
  <a href="javascript:void(0)">
    <div class="item-main">
      <div class="item-title-row">
        <h3 class="item-title" data-objectno={{loanApplySerialNo}}>{{loanApplySerialNo}}</h3>
        <div class="item-subtitle-l am-fr">身份证后四位：<span class="am-cid">{{certId}}</span></div>
        <div class="item-after">{{customerName}}</div>
        <i class="icon am-icon-angle-right am-fr"></i>
      </div>
      <div class="item-subtitle">
        <div class="item-subtitle-r">应还金额：<span class="am-rmb">{{repayAmount}}</span> 元</div>
      </div>
    </div>
  </a>
</li>
{{/each}}
